@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

/* UTILITY */
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.col_50 {
  width:50%;
  height: 100%;
  position: relative;
  float: left;
}
.row_60 {
  width: 60% ;
  height: 100%;
  margin: 50px auto;
  background-color: #ffffff;
  position: relative;
}
.margin_col{
  width: 100%;
  height: 100%;
  margin: 50px auto;
}

.bt_orange {
  background-color: #fe775a;
  color: white;
  border: 20px solid #fe775a;
  padding: 5px 10px;
  border-radius: 5px;
  float: right 50%;
  width: 50%;
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
}

.btn_pos{
  vertical-align: middle;
  text-align: center;
}
.bt_orange_col_70 {
  background-color: #fe775a;
  color: white;
  border: 20px solid #fe775a;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 30%;
  text-align: center;
}
.fa-check-circle{
  color: #fe775a;
  padding: 5px;
}
section:after{
  display: table;
  content: "";
  clear: both;
}
 /* HEADER STYLE */
  /* TOP STYLE */
.row_sources {
width: 100vw;
height: 100%;
background-color: #f4f9fd;
border-bottom: 1px solid black;
}
.nav_sources {
padding-top: 20px;
padding-bottom: 20px;
}
.lang {
  border-right: 1px solid grey;
  padding-right: 10px;
  margin-top: 3vh;
  margin-right: 10px;
}
.contattaci{
vertical-align: middle;
}
.sources_right {
  float: right;
}
.login{
  background-color: white;
  color: #fe775a;
  border: 2px solid #fe775a;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px;
  vertical-align: middle;
}
.get_hub {
  background-color: #fe775a;
  color: white;
  border: 2px solid #fe775a;
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.fa-search{
  color: #47becf
}

 /* NAV BAR STYLE */
.row.nav{
  width: 100%;
  height: 100%;

}
.logo_header{
  position: relative;
  top: 10px;
}
.nav_bar_right{
  float: right;
  padding-top: 20px;
}

.nav_bar > a{
  display: inline;
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 10px;
}

/* MAIN STYLE */
  /* JUMBO */
.row_jumbo {
  margin-top: 3vh;
  width: 100vw;
  height: 100vh;
  background-image: url("..//img/jumbotron.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;
  border-bottom: 5px solid black;
}
.text_jumbo{
  padding-top: 35px;
}
.title_jumbo {
  font-size: 55px;
}
.descr_title {
  margin: 20px auto 0 auto;
  font-size: 18px;
}
.bt_ghf {
  background-color: #fe775a;
  color: white;
  border: 2px solid #fe775a;
  padding: 10px 20px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 30px 0;
}
 /* PRIMA SEZIONE */
 .bg_section_1 {
   width: 100%;
   height: 100%;
   background-color: #f4f9fd;
   position: relative;
 }

 .cube{
   margin-top: 50px;
   width: 400px;
   height: 300px;
 }

.margin_cube{
  margin: 0 auto;
  text-align: center;
}

.text_area_section_1{
  text-align: center;
  margin: auto;
  width: 50%;
  line-height: 25px;
}

.descr_cube{
  margin-top: 25px ;
  padding-bottom: 50px;
}




.card-title, .card-text, .card-sep{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.card-text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.pop{
  text-transform: uppercase;
  text-align: center;
  text-shadow: 10px;
  font-size: 17px;
  margin-top: 20px;
    margin-bottom: 20px;
}
.checked {
  margin: 0 10%;
}
.col_img_sx {
width: 86%;
background-color: #ffffff;
margin: 0 auto;
border-radius: 10px;
  border: 1px solid lightgrey;
}
.img_sx{
  width: 50%;
  display: inline-block;
}
.text_dx{
  width: 50%;
  float: right;
  text-align: left;
}
.title_text_dx {
  margin: 30px 0;
}
#pop_dx{
  display: inline-block;
}
#hrleft {
  display: inline-block;
}
.inline{
  display: inline-block;
}
.col33{
  width: calc( 80% / 3 );
  background-color: #ffffff;
  margin: 50px auto;
  border-radius: 10px;
}
.buble_col {
  margin-left: 7%;
  float: left;
  position: relative;
  margin-right: 40px;
  border: 1px solid lightgrey;
}

.office_col {
  float: left;
  position: relative;
  margin-right: 40px;
    border: 1px solid lightgrey;
}

.table_col{
float: left;
position: relative;
  border: 1px solid lightgrey;
}

#book {
  height: 150px;
  margin: 10%  auto;
  position: relative;
  left: 25%;
  padding: 10px;
}
#office {
  height: 150px;
  position: relative;
  left: 25%;
  padding: 10px;
}
#table {
  height: 150px;
  position: relative;
  left: 25%;
  padding: 10px;
}
#buble {
  height: 150px;
  position: relative;
  left: 25%;
  padding: 10px;
}

.col33:after {
  display: table;
  content: "";
  clear: both;
}

/* GRAFICO LEARN AND GROW */
.bg_learn_grow {
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(45deg, #00A4BC, #00BDA5);
}
.grid_title {
  width: 80%;
  font-size: 35px;
  color: #ffffff;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.grid_subtitle{
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}
.row_graphic{
  width: 80%;
  margin: 50px auto 50px auto;

  text-align: center;
}
.cell-counter{
  color: #ffffff;
  font-size: 35px;
  font-weight: bolder;
  display: inline-block;
}
.cell-desc{
  color: white;
  margin-bottom: 30px;
}
.cell {
  display: inline;
  width: 80%;
}
.cell-counter:after {
  content: "+";
  margin: 10px;
  font-size: 18px;
  vertical-align: middle;
}
.bb-1, .bl-1 {
  width: calc(100% / 4);
  float: left;
  padding: 20px 20px;
}
.bb-1{
  border-bottom: 1px solid white;
}
.bl-1{
  border-left: 1px solid white;
}
.row_graphic::after {
  content: "";
  display: table;
  clear: both;
}
/* PARTNER AGEN}CY */
.bg_partner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}
.row_credits {
  width: 100%;
  height: 30vh;
  background-color: #ffffff;
}
.logo_partner {
  width: 90px;
  margin-top: 40px;
  margin-left: 50px;
  vertical-align: middle;
}
.long{
  line-height: 30px;
  text-align: center;
}
.sep{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
#woman{
  width: 60%;
  margin-left: 20%;
}

.title_credits{
  font-size: 35px;
  width: 80%;
  margin: 0 auto 50px auto;
  background-color: #ffffff;

}

.descr_credits{
  width: 80%;
  font-size: 16px;
  margin: auto;
}
.btn_hub{
vertical-align: middle;
text-align:  left;
margin: 50px 50px;
display: inline-block;
padding: 30px 30px;
font-size: 20px;


}

/* FOOTER */
.bg_footer {
  width: 100%;
  height: 100%;
  background-color: #32495b;
}

.footer_ul {
  line-height: 30px;
}

.row_footer{
  display: inline-block;
}

.col_25_footer{
  list-style: none;
  display: inline-block;
  color: #ffffff;
  margin: 30px 50px 50px 50px;
  vertical-align: text-top;
}

.social_logo{
  list-style: none;
  display: inline;
  color: white;
}

ul {
  list-style: none;
  line-height: 20px;
}
a{
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 10px;
}


.fa-facebook-f, .fa-instagram, .fa-youtube, .fa-twitter, .fa-linkedin-in
{
  float: right;
  padding: 10px;
}
.languages-bar{
  width: 100%;
  margin: 0 50%;
  display: inline-block;

}
.languages {
  margin: 20px ;
  text-align: center ;

}

#footer_hr
{
  margin: 50px 0;
}

.socket-text{
  float: right;
}
.socket-logo{

}

.legal_stuff{
  margin-right: 20px;
}
#btn_contact{
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 5px;
  padding: 12px 15px;
}
